.display-1,
.display-4,
.lead {
  font-family: "Courgette", cursive;
}
.lead {
  padding-left: 100px;
}
.lead-mob {
  padding-left: 15px;
}

main {
  width: 100vw;
}

.timer-container {
  display: block;
  word-wrap: break-word;
}

.timer-container-mob {
  display: block;
  word-wrap: break-word;
  height: 465px;
  padding-left: 0px !important;
  width: 100%;
  position: relative;
  right: 10px;
  width: 95% !important;
}

.background-image {
  height: 255px;
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-shadow: 5px 5px 5px 5px #888888;
  position: relative;
}

.text-container {
  height: 255px;
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  top: -255px;
  margin-bottom: -255px;
  cursor: pointer;
}

.text-container-mob {
  height: 450px;
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  top: -450px;
  margin-bottom: -450px;
  cursor: pointer;
  overflow: hidden;
  align-content: center;
}
.text-container-mob h4,
.text-container h4 {
  font-style: oblique;
}

.text-container-mob h2,
.text-container-mob h3,
.text-container-mob h4,
.text-container h2,
.text-container h3,
.text-container h4 {
  background: linear-gradient(
    to right,
    rgba(229, 221, 218, 0) 0%,
    rgba(229, 221, 218, 0.6) 20%,
    rgba(229, 221, 218, 0.6) 80%,
    rgba(229, 221, 218, 0) 100%
  );
  padding: 5px 150px 5px 150px;
  margin: 10px 10px 10px 10px;
  position: relative;
  left: 5%;
}

.zoom {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.zoom:hover {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.zoom:hover .background-image {
  box-shadow: 5px 5px 5px 5px transparent;
  /* transform: scale(1.03); */
  opacity: 0.5;
  border: 1px solid black;
  box-shadow: 6px 6px 6px 6px black;
}

.zoom:hover h2,
.zoom:hover h3,
.zoom:hover h4 {
  background: none;
  font-weight: bold;
}

.passedEvent {
  background-color: rgba(236, 132, 132, 0.5);
}

.passedEvent h2,
.passedEvent h3,
.passedEvent h4 {
  background: linear-gradient(
    to right,
    rgba(236, 132, 132, 0) 0%,
    rgba(236, 132, 132, 0.6) 10%,
    rgba(236, 132, 132, 0.6) 90%,
    rgba(236, 132, 132, 0) 100%
  );
}

.shadowy {
  box-shadow: 5px 5px 5px 5px #888888;
}
.shadowy:hover {
  box-shadow: 2px 2px 2px 2px #6b6b6b;
  /* transform: scale(1.03); */
}

.shadowy h2 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  background: linear-gradient(
    to right,
    rgba(229, 221, 218, 0) 0%,
    rgba(229, 221, 218, 0.6) 40%,
    rgba(229, 221, 218, 0.6) 60%,
    rgba(229, 221, 218, 0) 100%
  );
}

.bottom-filler {
  height: 250px;
  position: relative;
  top: -20px;
  position: relative;
}

.text-above-image {
  font-style: oblique;
  font-weight: 500;
}
